.chroma {
  color: #c6d0f5;
  background-color: #303446;
}
.chroma .cl {
  color: #c6d0f5;
}
.chroma .err {
  color: #e78284;
}
.chroma .x {
  color: #c6d0f5;
}
.chroma .lntd {
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: top;
}
.chroma .lntable {
  width: auto;
  border: 0;
  margin: 0;
  display: block;
  padding: 0;
  overflow: auto;
  border-spacing: 0;
}
.chroma .hl {
  width: 100%;
  display: block;
  background-color: #51576d;
}
.chroma .lnt {
  color: #838ba7;
  padding: 0 0.4em 0 0.4em;
  font-size: 0.875rem;
  margin-right: 0.4em;
}
.chroma .ln {
  color: #838ba7;
  padding: 0 0.4em 0 0.4em;
  margin-right: 0.4em;
}
.chroma .k {
  color: #ca9ee6;
}
.chroma .kr {
  color: #ca9ee6;
}
.chroma .kp {
  color: #ca9ee6;
}
.chroma .kc {
  color: #ef9f76;
}
.chroma .kd {
  color: #e78284;
}
.chroma .kn {
  color: #81c8be;
}
.chroma .kt {
  color: #e78284;
}
.chroma .n {
  color: #c6d0f5;
}
.chroma .nc {
  color: #e5c890;
}
.chroma .no {
  color: #e5c890;
}
.chroma .nd {
  color: #8caaee;
  font-weight: bold;
}
.chroma .ni {
  color: #81c8be;
}
.chroma .ne {
  color: #ef9f76;
}
.chroma .nf {
  color: #8caaee;
}
.chroma .fm {
  color: #8caaee;
}
.chroma .nl {
  color: #99d1db;
}
.chroma .nn {
  color: #ef9f76;
}
.chroma .py {
  color: #ef9f76;
}
.chroma .nt {
  color: #ca9ee6;
}
.chroma .nv {
  color: #f2d5cf;
}
.chroma .vc {
  color: #f2d5cf;
}
.chroma .vg {
  color: #f2d5cf;
}
.chroma .vi {
  color: #f2d5cf;
}
.chroma .vm {
  color: #f2d5cf;
}
.chroma .na {
  color: #8caaee;
}
.chroma .nb {
  color: #99d1db;
}
.chroma .bp {
  color: #99d1db;
}
.chroma .nx {
  color: #c6d0f5;
}
.chroma .l {
  color: #c6d0f5;
}
.chroma .ld {
  color: #c6d0f5;
}
.chroma .s {
  color: #a6d189;
}
.chroma .sc {
  color: #a6d189;
}
.chroma .s1 {
  color: #a6d189;
}
.chroma .s2 {
  color: #a6d189;
}
.chroma .sb {
  color: #a6d189;
}
.chroma .sx {
  color: #a6d189;
}
.chroma .ss {
  color: #a6d189;
}
.chroma .si {
  color: #a6d189;
}
.chroma .sa {
  color: #e78284;
}
.chroma .dl {
  color: #8caaee;
}
.chroma .se {
  color: #8caaee;
}
.chroma .sr {
  color: #81c8be;
}
.chroma .sd {
  color: #737994;
}
.chroma .sh {
  color: #737994;
}
.chroma .m {
  color: #ef9f76;
}
.chroma .mb {
  color: #ef9f76;
}
.chroma .mh {
  color: #ef9f76;
}
.chroma .mi {
  color: #ef9f76;
}
.chroma .mf {
  color: #ef9f76;
}
.chroma .il {
  color: #ef9f76;
}
.chroma .mo {
  color: #ef9f76;
}
.chroma .o {
  color: #99d1db;
  font-weight: bold;
}
.chroma .ow {
  color: #99d1db;
  font-weight: bold;
}
.chroma .c {
  color: #737994;
  font-style: italic;
}
.chroma .c1 {
  color: #737994;
  font-style: italic;
}
.chroma .cm {
  color: #737994;
  font-style: italic;
}
.chroma .cs {
  color: #737994;
  font-style: italic;
}
.chroma .ch {
  color: #626880;
  font-style: italic;
}
.chroma .cp {
  color: #737994;
  font-style: italic;
}
.chroma .cpf {
  color: #737994;
  font-weight: bold;
}
.chroma .g {
  color: #c6d0f5;
}
.chroma .gi {
  color: #a6d189;
  background-color: #414559;
}
.chroma .gd {
  color: #e78284;
  background-color: #414559;
}
.chroma .ge {
  color: #c6d0f5;
  font-style: italic;
}
.chroma .gs {
  color: #c6d0f5;
  font-weight: bold;
}
.chroma .gl {
  color: #c6d0f5;
  text-decoration: underline;
}
.chroma .gh {
  color: #ef9f76;
  font-weight: bold;
}
.chroma .gu {
  color: #ef9f76;
  font-weight: bold;
}
.chroma .go {
  color: #c6d0f5;
}
.chroma .gp {
  color: #c6d0f5;
}
.chroma .gr {
  color: #e78284;
}
.chroma .gt {
  color: #e78284;
}