<style type="text/css">
.markdown table:nth-of-type(n+2) tr th {
  padding: 0 !important;
  background: none !important;
}

.markdown table:nth-of-type(n+2) tr td:first-child {
  padding: 0 0 0 .5rem !important;
  text-align: center;
}

.markdown table:nth-of-type(n+2) tr td:nth-child(2) {
  width: 34%;
  padding: .5rem .5rem .5rem .3rem;
}

.markdown table:nth-of-type(n+2) tr td:nth-child(3) {
  width: 47%;
}

.markdown table:nth-of-type(n+2) tr td:nth-child(4) {
  width: 19%;
  min-width: 3rem;
  padding: 0 .5rem 0 0 !important;
}

.markdown table tr td:first-child img,
.markdown table tr td:first-child svg {
  max-width: 22px;
  max-height: 22px;
  margin: 0 auto;
  vertical-align: middle;
}

.markdown table tr td:nth-child(4) svg {
  max-width: 22px;
  max-height: 22px;
  margin: 0 auto;
  vertical-align: middle;
}
</style>