{{- $svg := .Get 0 -}}
{{- if eq $svg "a" -}}
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 42.5 42.5" class="lists-svg" width="32px" aria-label="Android">
  <use href="#a-icon"/>
</svg>
{{- else if eq $svg "i" -}}
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 42.5 42.5" class="lists-svg" width="32px" aria-label="iOS">
  <use href="#i-icon"/>
</svg>
{{- else if eq $svg "l" -}}
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 42.5 42.5" class="lists-svg" width="32px" aria-label="Linux">
  <use href="#l-icon"/>
</svg>
{{- else if eq $svg "m" -}}
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 42.5 42.5" class="lists-svg" width="32px" aria-label="macOS">
  <use href="#m-icon"/>
</svg>
{{- else if eq $svg "w" -}}
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 42.5 42.5" class="lists-svg" width="32px" aria-label="Windows">
  <use href="#w-icon"/>
</svg>
{{- else -}}
<svg viewBox="0 0 32 32" width="32" height="32" aria-label="Empty Image">
  <rect x="0" y="0" width="32" height="32" fill="none" />
</svg>
{{- end -}}