{{- $svg := .Get 0 -}}
{{- if eq $svg "a" -}}
<img src="/svg/lists/logo-android.svg" class="svg-filter" width="32px" alt="A" aria-label="Android">
{{- else if eq $svg "i" -}}
<img src="/svg/lists/logo-ios.svg" class="svg-filter" width="32px" alt="i" aria-label="iOS">
{{- else if eq $svg "l" -}}
<img src="/svg/lists/logo-linux.svg" class="svg-filter" width="32px" alt="L" aria-label="Linux">
{{- else if eq $svg "m" -}}
<img src="/svg/lists/logo-macos.svg" class="svg-filter" width="32px" alt="m" aria-label="macOS">
{{- else if eq $svg "w" -}}
<img src="/svg/lists/logo-windows.svg" class="svg-filter" width="32px" alt="W" aria-label="Windows">
{{- else -}}
<svg viewBox="0 0 32 32" width="32" height="32" aria-label="Empty Image">
  <rect x="0" y="0" width="32" height="32" fill="none" />
</svg>
{{- end -}}