<style>
#keyword {
  height: 1.9rem;
  width: 100%;
  max-width: 100%;
  padding: 0.5rem; 
}

.searchbt {
  padding-right: 0.5rem;
}
</style>

<div class="book-search" style="margin-bottom: 0.5rem;">
  <input type="text" id="keyword" name="keyword" placeholder="Jianghu Search" aria-label="Search" onclick="selectText(this)"/>
</div>
<a href="#" class="searchbt" onclick="google()"><span style="color: #4285f4;">•</span>Google NCR</a>
<a href="#" class="searchbt" onclick="duckgo()"><span style="color: #de5833;">•</span>DuckDuckGo</a>
<a href="#" class="searchbt" onclick="bing()"><span style="color: #0060df;">•</span>Bing</a>
<a href="#" class="searchbt" onclick="yandex()"><span style="color: #fc3f1d;">•</span>Yandex</a>
<a href="#" class="searchbt" onclick="baidu()"><span style="color: #4e6ef2;">•</span>百度</a>
<span style="padding-right: 0.5rem;">｜</span>
<a href="#" class="searchbt" onclick="github()"><span style="color: #6e5494;">•</span>GitHub</a>
<a href="#" class="searchbt" onclick="pinterest()"><span style="color: #e60023;">•</span>Pinterest</a>
<a href="#" class="searchbt" onclick="neodb()"><span style="color: #c0d9b4;">•</span>NeoDB</a>
<a href="#" class="searchbt" onclick="qimai()"><span style="color: #02b389;">•</span>七麦</a>
<a href="#" class="searchbt" onclick="steamdb()"><span style="color: #0366d6;">•</span>SteamDB</a>
<a href="#" class="searchbt" onclick="steam()"><span style="color: #1a9fff;">•</span>Steam</a>
<a href="#" class="searchbt" onclick="giphy()"><span style="color: #9933ff;">•</span>GIPHY</a>
<span style="padding-right: 0.5rem;">｜</span>
<a href="#" class="searchbt" onclick="domainr()"><span style="color: #0e5f96;">•</span>Domainr</a>
<a href="#" class="searchbt" onclick="whois()"><span style="color: #91d117;">•</span>Whois</a>
<a href="#" class="searchbt" onclick="cnicp()"><span style="color: #fdd000;">•</span>CNICP</a>
<a href="#" class="searchbt" onclick="ipshu()"><span style="color: #50b8fe;">•</span>IPSHU</a>
<a href="#" class="searchbt" onclick="bczs()"><span style="color: #0088cc;">•</span>bczs.net</a>
<a href="#" class="searchbt" onclick="baiduip()"><span style="color: #2469f3;">•</span>百度IP</a>
<span style="padding-right: 0.5rem;">｜</span>
<a href="#" class="searchbt" onclick="v2ex()"><span style="color: #aab0c6;">•</span>V2EX</a>
<a href="#" class="searchbt" onclick="taobaopc()"><span style="color: #ff4400;">•</span>淘宝PC</a>
<a href="#" class="searchbt" onclick="zhihu()"><span style="color: #056de8;">•</span>知乎</a>
<a href="#" class="searchbt" onclick="so360()"><span style="color: #0fb264;">•</span>360搜索</a>
<a href="#" class="searchbt" onclick="sougou()"><span style="color: #fd6853;">•</span>搜狗</a>
<script>
let keywordBox = document.getElementById("keyword");
function google() {
  window.open("https://www.google.com/search?pws=0&gl=us&gws_rd=cr&q=" + keywordBox.value);
}
function duckgo() {
  window.open("https://duckduckgo.com/?q=" + keywordBox.value);
}
function bing() {
  window.open("https://www.bing.com/search?q=" + keywordBox.value);
}
function yandex() {
  window.open("https://yandex.com/search/?text=" + keywordBox.value);
}
function baidu() {
  window.open("https://www.baidu.com/s?wd=" + keywordBox.value);
}

function github() {
  window.open("https://github.com/search?q=" + keywordBox.value);
}
function pinterest() {
  window.open("https://www.pinterest.com/search/pins/?q=" + keywordBox.value);
}
function neodb() {
  window.open("https://neodb.social/search/?q=" + keywordBox.value);
}
function qimai() {
  window.open("https://www.qimai.cn/search/index/country/cn/search/" + keywordBox.value);
}
function steamdb() {
  window.open("https://steamdb.info/search/?a=app&q=" + keywordBox.value);
}
function steam() {
  window.open("https://store.steampowered.com/search/?term=" + keywordBox.value);
}
function giphy() {
  window.open("https://giphy.com/search/" + keywordBox.value);
}

function domainr() {
  window.open("https://domainr.com/?q=" + keywordBox.value);
}
function whois() {
  window.open("https://whois.domaintools.com/" + keywordBox.value);
}
function cnicp() {
  window.open("https://icp.chinaz.com/" + keywordBox.value);
}
function ipshu() {
  window.open("https://ipshu.com/ipv4/" + keywordBox.value);
}
function bczs() {
  window.open("http://ip.bczs.net/" + keywordBox.value);
}
function baiduip() {
  window.open("https://qifu.baidu.com/wise/#/?activeId=SEARCH_IP_ADDRESS&ip=" + keywordBox.value);
}

function v2ex() {
  window.open("https://www.google.com/search?pws=0&gl=us&gws_rd=cr&q=site:v2ex.com/t+" + keywordBox.value);
}
function taobaopc() {
  window.open("https://s.taobao.com/search?q=" + keywordBox.value);
}
function zhihu() {
  window.open("https://www.zhihu.com/search?q=" + keywordBox.value);
}
function so360() {
  window.open("https://www.so.com/s?q=" + keywordBox.value);
}
function sougou() {
  window.open("https://www.sogou.com/web?query=" + keywordBox.value);
}

let flag = 0;
if (keywordBox.value === "" && flag == 0) {
  fetch("https://api.ipify.org/?format=json")
    .then(response => response.json())
    .then(data => {
      if (keywordBox.value === "" && flag == 0) {
        keywordBox.value = data.ip;
        flag = 1;
      }
    })
    .catch(error => console.error(error));
}

function selectText(input) {
  if (flag == 1) {
    input.select();
  }
  flag = 2;
}
</script>
