<style>
/*
.markdown {
    line-height: 28px !important;
}

.markdown table tr th,.markdown table tr td {
    padding-top: 12px !important;
    padding-bottom: 12px !important;
}

.markdown img {
    width: 28px !important;
    height: auto !important;
    vertical-align: top !important;
}
*/

table {
  width: 100%;

  th:first-child {
    width: 38px;
    max-width: 38px;
    padding: 0 !important;
    text-align: center;
    vertical-align: middle;
  }

  tr td:nth-child(2) {
    width: 35%;
  }

  tr td:nth-child(3) {
    width: 57%;
  }

  tr td:first-child img {
    display: block;
    max-width: 22px;
    max-height: 22px;
    margin: 0 auto;
  }
}


</style>